.product {

    display: flex;
    flex-direction: column;
    width: 450px;
    border: 1px solid black;
    margin:30px auto;
    background-color: white;
    padding: 3px;
  }
  .linea{
      border: 1px solid;
      padding:0px 5px;
      margin: 5px 0px;
  }
  .title {
    font-size: 2rem;
  }
  .img {
  }
  .desc {
      font-size: 1.2rem;
  }
  .price {
      text-align: center;
  }